.top-nav{
    display:flex;
    justify-content: space-between;
    margin: 0;
}
.top-right{
    display: flex;
    gap: 5px;
}
.body{
    width:100%;
    margin:0;
}
.lower-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color: rgba(34, 34, 145, 0.363);
    padding: 2%;
    max-width: fit-content;
}
.latest{
    padding: 2%;
}

img.icons{
    width: 35px;
}
.loc{
    display: flex;
    height: 100%;
    align-items: center;
}


.carousel-item img{
    width: 70%!important;
    margin:0 auto;
}

/* body part */

/* about the latest house */

.desc{
    display: flex;
    justify-content: center;

}
.abt{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding:5%;
    gap: 2%;

}
.watch{
    background-color: rgb(43, 46, 46);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid;
    place-content:center ;
    border-left: 1px;
    color: #fff;
}

.house-specs{
    
}