.top-nav{
    display:flex;
    justify-content: space-between;
    margin: 0;
}
.top-right{
    display: flex;
    gap: 5px;
}
.body{
    width:100%;
    margin:0;
}
.lower-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color: rgba(9, 214, 36, 0.363);
    padding: 2%;
    max-width: fit-content;
}
.lower-nav a{
    text-decoration: None;
    color:#fff;
}
.latest{
    padding: 2%;
}

img.icons{
    width: 35px;
}
.loc{
    display: flex;
    height: 100%;
    align-items: center;
}


.carousel-item img{
    width: 70%!important;
    margin:0 auto;
}

/* body part */

/* about the latest house */

/* .desc{
    display: flex;
    justify-content: center;

} */
.abt{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding:5%;
    gap: 2%;

}
.watch{
    background-color: rgb(43, 46, 46);
    width: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: grid;
    place-content:center ;
    border-left: 1px;
    text-decoration: None;
}

.house_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.spec{
    width:20%;
    display: grid;
    place-items: center;
}
.spec :hover{
    cursor: pointer;

}
.spec img{
    width:50%;
}

/* amenities section */
.nearby_intro{
    padding: 5%;
}
.amenity{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.amenity_items{
    display: flex;
    flex-wrap: wrap;
    width: 20%;

}
.amenity_icons img{
    width :50%;
    
}

/* footer part */

.socials{
    display:flex;
    justify-content: center;
    align-items: center;
}

.quote{
    padding:10%;
    display:flex;
}