.top-nav{
    display:flex;
    justify-content: space-between;
    margin: 0;
}
.top-right{
    display: flex;
    gap: 5px;
}
.body{
    width:100%;
    margin:0;
}
.lower-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    background-color: rgba(34, 34, 145, 0.363);
    padding: 2%;
    max-width: fit-content;
}
.latest{
    padding: 2%;
}

img.icons{
    width: 35px;
}
.loc{
    display: flex;
    height: 100%;
    align-items: center;
}