{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    
    <div class="houses">

        <div class="quote">
            <img src="https://static.thenounproject.com/png/14163-200.png" alt="">
            <blockquote class="blockquote">
                <p class="mb-0">“Home is the starting place of love, hope and dreams".</p>
                <br>
                <footer class="blockquote-footer">1887 <cite title="Source Title">Me EST</cite></footer>
             </blockquote>
             
        </div>

        <div class="all_houses_cards">
            {% for house in house %}
        <div class="card house" style="width: 18rem;">
            <img class="card-img-top" src="{{ house.house_image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ house.title }}</h5>
              <p class="card-text"><b>Location</b> .</p>
              <p class="card-text"> {{ house.house_location}}</p>

              <a href="/house/{{ house.id }}/" class="btn btn-primary">View house</a>
            </div>
          </div>
        
           
        {% endfor %}
        </div>
    </div>

</div>
{% endblock %}